* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.hero {
    color: #35313E;


    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 21px */
}

.hero {
    background: #F3F3F3;
}

.header {
    width: 100%;
    height: 43px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.header span {
    color: #000;

    /* Caption 2/Regular */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.header .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Backgorund-White-50, #FFF);
    cursor: pointer;
    /* Caption 3/Medium */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background-color: #EE8D21;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.hero {
    width: 100%;
    height: 100%;
    background: #F3F3F3;
    display: flex;
    gap: 14px;

    padding-bottom: 46px;

}

.nav {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;

}

.nav-circle {
    border-radius: 0px 12px 12px 0px;
    background: var(--Main-Blue-Primary-600, #4318FF);
    display: flex;
    padding: 24px 12px;

    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    font-size: 30px;
    color: white;
    font-weight: 200;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

}

.menu {
    width: 56px;
    height: 100%;
    border-radius: 0px 12px 12px 0px;
    background: var(--Main-Blue-Primary-600, #4318FF);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 32px 14px 80px 14px;
}

i {
    cursor: pointer;
}

.nav ul li i {
    color: #e4dada;

    font-size: 20px;
}

.nav ul li i:hover {
    color: white;
}

.nav .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./img/People-fireworks.webp);
    background-size: cover;
    cursor: pointer;
}


.content {
    width: 100%;

    height: 100%;
}

.axtaris {
    width: 60%;
}

.axtaris input {
    height: 44px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    text-indent: 12px;
    border: 1px solid #F3F3F3;
    ;
    background-image: url(./img/search.png);
    background-position: right 12px center;
    background-repeat: no-repeat;
}

.axtaris input::placeholder {
    color: #777F90;

}

.axtaris-yeni-rol {
    display: flex;
    width: 50%;
    gap: 16px;
    display: flex;
    align-items: center;
}

.modullar {
    width: 50%;
    height: 44px;

}

.axtaris-modullar {
    display: flex;
    width: 100%;
    gap: 90px;
    background-color: white;
    margin-top: 16px;
}

.input-yeni-rol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;

}




ul {
    list-style: none;
}



.dropdown {
    width: 250px;
    height: 44px;
    background: white;
    border-radius: 9px;
    position: relative;

}


.dropdown::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9999;
    width: 12px;
    height: 12px;
    border: 2px solid grey;
    border-top: transparent;
    border-right: transparent;
    transform: rotate(-45deg);
    pointer-events: none;
    transition: all 0.3s linear;
}

.dropdown input {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    padding: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.dropdown .options {
    width: 100%;
    border-radius: 9px;
    padding: 8px;
    cursor: pointer;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    top: 80px;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translateY(-50px);
    visibility: hidden;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown .options .option {
    padding: 16px;
    border-radius: 9px;
    transition: all 0.2s ease;
    color: #292d34;
}

.dropdown .options .option:not(:last-of-type) {
    margin-bottom: 8px;
}

.dropdown .options .option:hover {
    color: white;
    background-color: #4440F3;
    box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
}

.dropdown.opened .options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown.opened::before {
    transform: rotate(-225deg);
    top: 30px;
}

.wrapper {
    position: relative;

    display: flex;
    align-items: flex-start;
    gap: 12px;
}

/*-------------------------------------------- */
.yeni-rol {
    width: 25%;
}

.yeni-rol button {
    border-radius: 6px;
    border: 1px solid var(--button-borderColor, #3B82F6);
    background: var(--Main-Blue-Primary-600, #4318FF);
    padding: 10.5px 17.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: var(--button-color, #FFF);
    cursor: pointer;
    /* Caption 2/Regular */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.title {
    color: #081A42;
    margin-bottom: 14px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 110% */
    letter-spacing: 0.1px;
}

.table-container {
    width: 95%;
    overflow-x: auto; 
}

.table {
    width: 2100px; margin-bottom: 20px;
}
body{overflow-x: hidden;}

.rows {
    display: grid;

    grid-template-rows: repeat(6, 40px);

    grid-row-gap: 5px;
    width: 100%;
  
    border-radius: 0px 0px 8px 8px;
    background: #FFF;

}

.row {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 3fr 5fr 3fr 1fr 1fr 2fr 2fr 2fr 1fr;

    border-bottom: 2px solid #F8F9FA;
    grid-row-gap: 5px;
    width: 100%;
    height: 100%;
    background: #FFF;
    padding: 0 20px;
}

.titles {
    background-color: #F8F9FA;
}

.row-title {
    /* width: 1920px; */
    background-color: white;
    height: 44px;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;

}

.row>div {
    display: flex;
    align-items: center;

}

.table-titles {
    color: #343A40;
    font-weight: 700;

}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24.5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;

    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 17.5px;
    height: 17.5px;
    left: 4px;
    bottom: 4px;
    background-color: white;

    transition: .4s;
}

input:checked+.slider {
    background-color: #0ABF87;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0ABF87;
}

input:checked+.slider:before {

    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.open {
    padding: 10.5px;
    background-color: #DEEDCFB0;
    color: #1A8463;
    border-radius: 6px;
    /* Caption 4/Medium */
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: max-content;
}

.draft {
    padding: 10.5px;
    background-color: #DEDEE7;
    color: #343746;
    border-radius: 6px;
    /* Caption 4/Medium */
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: max-content;
    ;
}

.canceled {
    padding: 10.5px;
    background-color: #FFE09F;
    color: #765208;
    border-radius: 6px;
    /* Caption 4/Medium */
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    ;
}

.center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* header toggle */



.card {
    background-color: #fff;
    border-radius: 4px;
    width: 300px;
    margin: 30px auto;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    align-items: center;
    border: solid 1px #eee;
    margin-right: 20px;
    min-height: 150px;
    position: relative;
}

.card-heading {
    padding: 10px;
    background: #eee;
    border-bottom: #ddd solid 1px;
}

.card-heading h2 {
    margin: 0px;
    width: 100%;
    font-size: 20px;
}

.card-body {
    padding: 15px;
}

.creative-checkbox {
    display: inline;
    position: relative;
    margin: 10px 10px;
    overflow: hidden;
    float: left;
}

.creative-checkbox p {
    padding: 10px;
    margin: 0;
    float: left;
    line-height: 20px;
}

.creative-checkbox input {
    position: absolute;
    visibility: hidden;
}

.creative-checkbox input+i {
    border: 2px solid #ccc;
    width: 40px;
    height: 20px;
    padding: 2px;
    float: left;

    transition: all .25s;
}

.creative-checkbox input+i:after {
    content: ' ';
    background-color: #ccc;
    float: left;
    width: 50%;
    height: 100%;

    transition: inherit;
}

.onOff input+i {
    border: 2px solid #0e1414;
}

.onOff input+i:after {
    background-color: #de1414;
}

.creative-checkbox input:checked+i {
    border-color: #2ab70e;
}

.creative-checkbox input:checked+i:after {
    background-color: #2ab70e;
    margin-left: 50%;
}

.creative-checkbox.halo-bg input:checked+i {
    background-color: #e4ece3;
}

.creative-checkbox.green input:checked+i {
    border-color: #2ab70e;
}

.creative-checkbox.green input:checked+i:after {
    background-color: #2ab70e;
}

/*Style 2 using 1 css*/
.style2 .creative-checkbox input+i {
    width: 34px;
}

.style2 .creative-checkbox input+i:after {
    width: 48%;
}

.style2 .creative-checkbox input:checked+i:after {
    margin-left: 52%;
}

/*Style 3*/
.switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 50px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;

    content: "";
    height: 20px;

    position: absolute;
    transition: .4s;
    width: 20px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(22px);
}



/*Style 4*/
.switch2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch2>span {
    position: absolute;
    top: 11px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: #000;
}

input.check-toggle-round-flat:checked~.off {
    color: #ffffff;
}

input.check-toggle-round-flat:checked~.on {
    color: #000000;
}

.switch2>span.on {
    left: 0;

    color: #fff;
}

.switch2>span.off {
    right: 0;

    color: #000;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;

    user-select: none;
}

input.check-toggle-round-flat+label {
    width: 105px;
    height: 34px;
    background-color: #d4d7d4;
    border-radius: 5px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {

    background-color: #d4d7d4;

}

input.check-toggle-round-flat+label:after {

    width: 55px;
    background-color: #4318FF;
    height: 34px;
    transition: margin 0.2s;
    border-radius: 5px;
    color: white;
}



input.check-toggle-round-flat:checked+label:after {
    margin-left: 52px;
    background-color: #4318FF;
}

.table-text {
    padding: 20px;
    font-weight: 700;
}
::-webkit-scrollbar {
    width: 15px;height: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #0ABF87; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
   background: #1A8463;
  }